.portfolio {
    padding: 49px 14px;
    box-sizing: border-box;
}

.portfolio__title {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #A0A0A0;
    text-overflow: ellipsis;
}

.portfolio__list {
    list-style: none;
    padding: 0;
    margin: 22px 0 0;
}

.portfolio__item {
    padding: 19px 0;
    box-sizing: border-box;
    border-bottom: 1px #E6E6E6 solid;
}

.portfolio__item:last-child {
    border-bottom: none;
}

.portfolio__link {
    position: relative;
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #000000;
    text-decoration: none;
    display: block;
    width: 100%;
    transition: 0.5s;
    padding-right: 20px;
    box-sizing: border-box;
}

.portfolio__link:after {
    content: "\2197";
    display: block;
    width: 18px;
    height: 28px;
    position: absolute;
    top: 0;
    right: 0;
}

.portfolio__link:hover {
    opacity: 0.5;
}

@media (min-width: 768px) {
    .portfolio {
        padding: 0px 51px
    }

    .portfolio__title {
        font-size: 18px;
        line-height: 20px;
    }

    .portfolio__list {
        margin: 28px 0 0;
    }

    .portfolio__link {
        font-size: 28px;
        line-height: 50px;
    }

    .portfolio__link:after {
        width: 27px;
        height: 60px;
        top: 6px;
    }

}

@media (min-width: 1280px) {
   .portfolio {
        padding: 51px 70px
    }

    .portfolio__link {
        font-size: 30px;
        line-height: 50px;
    }

    .portfolio__link:after {
        width: 29px;
        top: 5px;
    }

    .portfolio__item {
        padding: 20px 0;
    }

}
