.promo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 570px;
    background: url('../../images/landing-logo.png') #073042 no-repeat center 138px;
}

.promo__title {
    width: 300px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 203px;
}

@media (min-width: 768px) {
    .promo {
        height: 784px;
        background: url('../../images/landing-logo_768.png') #073042 no-repeat center 221px;
    }

    .promo__title {
        width: 730px;
        font-size: 50px;
        line-height: 58px;
        margin-top: 323px;
    }
}

@media (min-width: 1280px) {
    .promo {
        height: 524px;
        background: url('../../images/landing-logo_768.png') #073042 no-repeat center 79px;
    }

    .promo__title {
        margin-top: 181px;
    }
}
