.auth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    min-height: 100vh;
    box-sizing: border-box;
    padding: 56px 30px 30px;
    margin: 0 auto;
}

.auth__title {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    color: #000000;
}

.auth__group-wrap {
    display: flex;
    flex-direction: column;
}

.auth__label {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-overflow: ellipsis;
    color: #A0A0A0;
}

.auth__input {
    width: 100%;
    height: 46px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    background: #F9F9F9;
    border-radius: 8px;
    border: none;
}

.auth__input:focus {
    outline: 1px solid #2BE080;
}

.auth__nav {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth__nav-item {
    margin-bottom: 16px;
    width: 100%;
    text-align: center;
}

.auth__nav-item:last-child {
    margin-bottom: 0;
}

.auth__btn {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background: #3456F3;
    border-radius: 3px;
    border: none;

    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
    color: #FFFFFF;

    cursor: pointer;
    transition: 0.5s;
}

.auth__btn:hover {
    opacity: 0.5;
}

.auth__btn:focus {
    outline: 1px solid #2BE080;
}

.auth__text {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
    text-align: center;
    color: #A0A0A0;
}

.auth__link {
    margin-left: 10px;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #3456F3;
    transition: 0.5s;
}

.auth__link:hover {
    opacity: 0.5;
}

@media (min-width: 768px) {
    .auth {
        width: 410px;
        justify-content: center;
        align-items: flex-start;
    }

    .auth__form {
        width: 100%;
    }

    .auth__nav{
        margin-top: 179px;
    }

    .auth__btn {
        font-size: 14px;
        line-height: 17px;
    }

    .auth__text {
        font-size: 14px;
        line-height: 17px;
    }

    .auth__link {
        font-size: 14px;
        line-height: 17px;
    }
}

