.techs {
    padding: 70px 18px;
    box-sizing: border-box;
}

.techs__title {
    margin: 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
    color: #000000;
    text-overflow: ellipsis;
    padding-bottom: 28px;
    box-sizing: border-box;
    border-bottom: 1px solid #000000;
}

.techs__subtitle {
    margin: 60px 0 0;

    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    text-overflow: ellipsis;
}

.techs__text {
    margin: 24px 0 0;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
}

.techs__list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 84px);
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 34px 53px;
    box-sizing: border-box;
}

.tech__list-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 57px;
    background: #E8E8E8;
    border-radius: 10px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
}

@media (min-width: 768px) {
    .techs {
        padding: 90px 50px 30px;
        background-color: #F5F5F5;
    }

    .techs__title {
        margin-top: 2px;
        font-size: 22px;
        line-height: 27px;
        padding-bottom: 22px;
    }

    .techs__subtitle {
        margin-top: 80px;
        font-size: 50px;
        line-height: 58px;
    }

    .techs__text {
        width: 460px;
        margin: 22px auto;
        font-size: 12px;
        line-height: 18px;
    }

    .techs__list {
        width: 648px;
        padding: 61px 0;
        margin: 0 auto;
    }
}

@media (min-width: 1280px) {
    .techs {
        padding: 90px 70px;
    }

    .techs__title {
        margin-top: 12px;
    }

    .techs__subtitle {
        margin-top: 90px;
    }

    .techs__text {
        width: 460px;
        margin: 26px auto;
        font-size: 14px;
        line-height: 20px;
    }

    .techs__list {
        width: 690px;
        padding: 74px 0;
        margin: 0 auto;
        grid-gap: 16px;
    }

    .tech__list-item {
        width: 90px;
        height: 60px;
        font-size: 14px;
        line-height: 17px;
    }
}
