.menu-auth {
    display: flex;
    list-style: none;
    padding: 47px 0 0;
    margin: 0;
    height: 77px;
}

.menu-auth__item {
    margin-right: 14px;
}

.menu-auth__item:last-child {
    margin-right: 0;
}

.menu-auth__link {
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.5s
}

.menu-auth__link:hover {
    opacity: 0.5;
}

.menu-auth__signup {
    color: #fff;
}

.menu-auth__signin {
    padding: 5px 12px;
    box-sizing: border-box;
    background: #2BE080;
    border-radius: 3px;
    color: #000
}

@media (min-width: 768px) {
    .menu-auth__item {
        margin-right: 30px;
    }

    .menu-auth__link {
        font-size: 12px;
    }

    .menu-auth__signin {
        padding: 8px 20px;
    }
}
