.navtab {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #000;
}

.navtab__list {
    list-style: none;
    margin: 0;
    padding: 17px 0 25px;
    display: flex;
}

.navtab__list-item {
    margin: 0 24px 0 0;

}

.navtab__list-item:last-child {
    margin: 0;
}

.navtab__list-link {
    font-family:  Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: 0.5s
}

.navtab__list-link:hover {
    opacity: 0.5;
}

@media (min-width: 768px) {
    .navtab__list {
        padding: 18px 0 24px;
        box-sizing: border-box;
    }

    .navtab__list-item {
        margin-right: 40px;
    }

    .navtab__list-link {
        font-size: 13px;
    }
}
